In [1]:
import pandas as pd

## In pandas we have 2 main datatypes

### 1. Series (1-dimentional)

In [3]:
models = pd.Series(["BMW", "Ford", "Toyota"])
models

0       BMW
1      Ford
2    Toyota
dtype: object

In [4]:
colors = pd.Series(["Black", "Red", "White"])
colors

0    Black
1      Red
2    White
dtype: object

### 2. Dataframes (2-dimentional)

In [5]:
dataframe = pd.DataFrame({"Car Make": models, "Color": colors})
dataframe

  Car Make  Color
0      BMW  Black
1     Ford    Red
2   Toyota  White